<form class="card-container" >
    <h1>Cadastro de Paciente</h1>
    <div class="divider" ></div>
    <%- include('../../components/Input/index', {label: 'CPF:', name: 'cpf', type: "text"}) %> 
    <%- include('../../components/Input/index', {label: 'Nome Completo:', name: 'name', type: "text"}) %>
    <div class="divider" ></div>
    <%- include('../../components/Input/index', {label: 'CEP:', name: 'postcode', type: "text"}) %>
    <div class="row" >
        <%- include('../../components/Input/index', {label: 'Endereço:', name: 'street', type: "text"}) %> 
        <%- include('../../components/Input/index', {label: 'Numero:', name: 'number', type: 'number'}) %> 
    </div>
    <%- include('../../components/Input/index', {label: 'Complemento', name: 'complement', type: "text"}) %>
    <div class="divider" ></div>
    <%- include('../../components/Input/index', {label: 'N° Carteira de vacinação:', name: 'number_card', type: "text"}) %> 
    <button class="send-button" >ENVIAR</button>
</form>
